body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:black;

}
h1{text-align: center;
text-transform: capitalize;
color: rgb(223, 228, 233);}
form{
    max-width: 600px;
    margin: auto;
    background-color: #dcf8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
fieldset{
    border: 2px solid #3498bd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}
legend{
    font-weight:bolder;
    text-align: left;
    text-transform: capitalize;
    color: black;
    
}
label{
    display: block;
    margin-top: 10px;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}
input,textarea{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #3498bd;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(161, 201, 236);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover{background-color: #3498bd;}
#resumeoutput{
    max-width: 600px;
    margin: auto;
    padding:20px;
    border: 2px solid #3498bd;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
}
#resumeoutput{
    color: black;
}